.cargos {
    margin-left: 20em;
    margin-bottom: 5em;
}

.titulo__cargos {
    color: var(--azul-escuro);
    font-size: 20px;
    margin-bottom: 2em;
}

.card__cargos {
    border: 1px solid var(--branco-claro);
    border-radius: 16px;
    margin-right: 20em;
    margin-bottom: 2em;
}

.titulo__card-cargos {
    font-size: 18px;
    color: var(--azul-escuro);
    padding: 1.5em 0 1em 1em;
}

.horario__trabalho-cargos, .faixa__salarial-cargos {
    color: var(--cinza-claro);
    display: inline-block;
    padding: 2em 1em 1.5em 1.1em;
}